*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

html,
body {
  font-family: var(--primary-font);
  background-color: var(--fund);
  /* Body */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height, or 175% */
  letter-spacing: 0.44px;
  /* Text Dark */
  color: var(--font-color);
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
}
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}
h1 {
  /* H1 Headline */
  width: 227px;
  height: 71px;
  /* H1 Headline */
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  /* identical to box height, or 118% */
  letter-spacing: -0.5px;
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  width: 272px;
  height: 57px;
  /* H2 Headline */
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height, or 119% */
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

h3 {
  width: 196px;
  height: 40px;
  /* H3 Headline */
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
  letter-spacing: 0.25px;
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

h4 {
  width: 134px;
  height: 32px;
  /* H4 Headline */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

h5 {
  width: 116px;
  height: 24px;
  /* H5 Headline */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.15px;
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

.subtitle {
  width: 70px;
  height: 20px;
  /* Subtitle 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.15px;
  /* Text Dark */
  color: var(--font-color);
  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
}

:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --third-font: "Meta", sans-serif;
  --font-color: #212121;
  --primary: rgb(92, 98, 236);
  --hover: rgb(60, 64, 174);
  --accent: rgb(133, 191, 209);
  --gris: rgb(160, 160, 161);
  --blanco: #ffffff;
  --fillers: #1c1e22;
  --borders: #26292d;
  --fund: #171718;
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

.desktop {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 69px;
  background: var(--fund);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  z-index: 11;
  border-bottom: 2px solid var(--borders);
}
.desktop header {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
  width: 100%;
  height: 68px;
  /* Fondo */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--blanco);
}
.desktop header .me {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 112px;
  height: 32px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  text-align: center;
  color: transparent;
  font-family: var(--third-font);
  color: var(--banco);
  cursor: pointer;
}
.desktop header .me span {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: linear-gradient(to right, var(--pink), var(--purple), rgb(60, 64, 174));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.desktop header .me span:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.desktop header nav {
  z-index: 10;
}
@media (max-width: 769px) {
  .desktop header nav {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    background: var(--fund);
    width: 100%;
    left: 0%;
    padding: 20px;
  }
}
.desktop header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: flex-end;
  gap: 23px;
  width: 100%;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
@media (max-width: 769px) {
  .desktop header nav ul {
    align-items: flex-start;
    flex-direction: column;
  }
}
.desktop header nav li {
  /* Boton */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  /* identical to box height, or 100% */
  /* Blanco */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}
@media (max-width: 769px) {
  .desktop header nav li:not(:last-child) {
    margin-bottom: 24px;
  }
}
.desktop header nav li:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.desktop header .mobile {
  cursor: pointer;
}
@media (min-width: 769px) {
  .desktop header .mobile {
    display: none;
  }
}
.desktop header .mobile span {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--blanco);
  position: relative;
}
.desktop header .mobile span::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  background-color: var(--blanco);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
.desktop header .mobile span::after {
  content: "";
  position: absolute;
  margin-top: 6px;
  background-color: var(--blanco);
  width: 50%;
  left: 50%;
  height: inherit;
  border-radius: inherit;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.toggle span {
  transition-delay: 0.2s;
  transition-duration: 0s;
  background-color: var(--fund) !important;
}
.toggle span::before {
  margin-top: 0 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) !important;
  -webkit-transition-delay: 0s, 0.2s !important;
  transition-delay: 0s, 0.2s !important;
}
.toggle span::after {
  margin-top: 0 !important;
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  -webkit-transition-delay: 0s, 0.2s !important;
  transition-delay: 0s, 0.2s !important;
  width: 100% !important;
  left: 0 !important;
}

.container {
  width: 88%;
  margin: 0 auto;
}
@media (max-width: 769px) {
  .container {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
