:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --third-font: "Meta", sans-serif;
  --font-color: #212121;
  --primary: rgb(92, 98, 236);
  --hover: rgb(60, 64, 174);
  --accent: rgb(133, 191, 209);
  --gris: #a0a0a1;
  --blanco: #ffffff;
  --fillers: #1c1e22;
  --borders: #26292d;
  --fund: #171718;
}
