:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --font-color: #212121;
  --primary: #5c62ec;
  --hover: #3c40ae;
  --accent: #85bfd1;
  --gris: #a0a0a1;
  --blanco: #ffffff;
  --fillers: #1c1e22;
  --borders: #26292d;
  --fund: #171718;
}
