:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --third-font: "Meta", sans-serif;
  --font-color: #212121;
  --primary: rgb(92, 98, 236);
  --hover: rgb(60, 64, 174);
  --accent: rgb(133, 191, 209);
  --gris: rgb(160, 160, 161);
  --blanco: #ffffff;
  --fillers: #1c1e22;
  --borders: #26292d;
  --fund: #171718;
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}
