@font-face {
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
}
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

h1 {
  /* H1 Headline */

  width: 227px;
  height: 71px;

  /* H1 Headline */

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  /* identical to box height, or 118% */

  letter-spacing: -0.5px;

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
h2 {
  width: 272px;
  height: 57px;

  /* H2 Headline */

  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height, or 119% */

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
h3 {
  width: 196px;
  height: 40px;

  /* H3 Headline */

  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */

  letter-spacing: 0.25px;

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
h4 {
  width: 134px;
  height: 32px;

  /* H4 Headline */

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
h5 {
  width: 116px;
  height: 24px;

  /* H5 Headline */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}
.subtitle {
  width: 70px;
  height: 20px;

  /* Subtitle 1 */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.15px;

  /* Text Dark */

  color: var(--font-color);

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
}
