$main-color: rgb(45 45 45);
$light-gray-color: rgb(65, 65, 65);
$light-blue-color: rgb(121, 149, 252);
$white-color: rgb(255, 255, 255);
$gray-color: rgb(201, 201, 201);
$font-family: "Jost", sans-serif;
$fs-20: 20px;
$fw-400: 400;
